@import "../../colors";

.final {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: $mainPurple;
  }

  &__link {
    border: none;
    border-bottom: 2px solid #3498db;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    background: none;
    color: $mainPurple;
    outline: none;
  }

  &__link:hover {
    color: $headerWheat;
  }

  &__link:focus {
    color: $mainPurple;
  }

}